*{
    padding: 0;
    margin: 0;
}


.header{
    padding: 50px;
    background: #18191A;
    color: white;
}

h1{
    font-size: 50px;
    display: flex;
    justify-content:end;
    padding-top: 0px;

}

h2{
    font-size: 30px;
    display: flex;
    justify-content: end;
}

div .container{
    font-size: 40px;
}

.container{

    font-size: 30px;
    border: 2px solid black;
    border-radius: 25px;
    
}
.container-1{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 20px;
    color: black;
    display: inline-block;
    margin-left: 30px;
}

.container-2{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 30px;
    color: black;
    display: inline-block;
    margin-right: 20px;
}

.container-3{
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 30px;
    color: black;
    display: inline-block;
}

.container-4{
    width: 30%;
    height: 80px;
    background-color: aliceblue;
    font-size: 70px;
    margin-top: 50px;
    border-radius: 100px;
    display: inline-block;
}


.container-5{
    width: 30%;
    height: 80px;
    background-color: aliceblue;
    font-size: 70px;
    margin-top: 50px;
    border-radius: 100px;
    display: inline-block;
}

.container-6{
    width: 30%;
    height: 80px;
    background-color: aliceblue;
    font-size: 70px;
    margin-top: 50px;
    border-radius: 100px;
    display: inline-block;
}


a{
    color: black;
    text-align: center;
}




.footer{
    padding: 60px;
    background: #18191A;
    color: white;

}

main{
    display: inline-block;
    justify-content:space-between
    flex-wrap: wrap;
    margin-top: 50px;
    
    

}

main>img{
    width: 300px;
    height: 300px;
    border: 0.5px solid grey; 
    display: inline-block;
    border-radius: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: 3;

}
 p{
    font-size: 25px;
 }
img{
    height: 400px;
    display: inline-block;
    border-radius: 60px;
    animation-name: img;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

h3{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

a{
    display: block;
    text-align: center;

}

@keyframes img{
    0%{
        transform: rotate(0deg);
        left: 0px;
}

    25%{
    transform: rotate(20deg);
    left: 0px;
}

    50%{
        transform: rotate(0deg);
        left: 500px;
}
    
    55%{
        transform: rotate(0deg);
        left: 500px;
    
}

    70%{
        transform: rotate(0deg);
        left: 500px;
}
    
    100%{
        transform: rotate(-360deg);
        left: 0px;
}



